.c-nav {
    padding: 1rem;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    align-items: center;

    &__link {
        margin-right: 10px;
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: bold;
        font-size: 15px;
    }
}